
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#container {
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-image: linear-gradient(rgba(0, 8, 51, 0.9), rgba(0, 8, 51, 0.9)), url(../home/images/background.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-gap: 15px;
}

.card {
  width: 400px;
  height: 180px;
  font-family: 'Poppins', sans-serif;
  min-height: 250px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  padding: 1.5rem;
  z-index: 10;
  color: whitesmoke;
  display: inline-block;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
}